In [207]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
import math
import datetime

In [139]:
aces = 'https://www.ncaa.com/stats/volleyball-men/d1/current/individual/532'

In [141]:
service = requests.get(aces)

In [193]:
collecting = service.content
information_aces = BeautifulSoup(collecting, 'html.parser')
information_aces.prettify()

date_updated = '<em class="placeholder">Monday, January 27, 2025 8:08 am</em>'

In [194]:
last_updated = information_aces.find_all('em')[0]
# this is the going to be the date of when the page is updated
most_recent_date = information_aces.find_all('em')[1].text.strip()

In [195]:
# in order to make the data frame we want to make, we will need to find all the headers and columns we were using earlier
columns_aces = information_aces.find('tr').text
columns_aces = columns.replace('\n',' ').strip().split()
df = pd.DataFrame(columns = columns_aces)
df['Per Set'] = df['Per'].astype(str) + df['Set'].astype(str)
df = df.drop(['Per','Set'], axis = 1)

In [196]:
# putting everything all together

table_data = information_aces.find_all('tr')

valid_ranking = 0

for item in table_data[1:]:
    vb = item.find_all('td')
    pieced = [info.text.strip() for info in vb]
    if pieced[0] == '-':
        valid_ranking += 1
        pieced[0] = str(valid_ranking)
    else:
        valid_ranking= int(pieced[0])
    length = len(df)
    df.loc[length] = pieced


# changing the data types
df['S'] = df['S'].astype(int)
df['Aces'] = df['Aces'].astype(int)
df['Per Set'] = df['Per Set'].astype(float)
df['Rank'] = df['Rank'].astype(int)

In [205]:
# we usually will use .3 to .5 for the best serving teams
# will research more on the 

average = df[(df['Per Set'] > .3) & (df['Per Set'] < .5) & (df['Aces'] >= 10) & (df['S'] > int(20))]
average

    Rank                    Name         Team   Cl Height   S  Aces  Per Set
27    28     Mustafa Selçuk Uyar        Menlo  Sr.    6-8  21    10    0.476
30    31      Carson Strawbridge  Queens (NC)  So.    6-2  30    14    0.467
33    34             Ryan Geraci       Barton  So.    6-6  24    11    0.458
34    35           Lucas Machado     Ball St.  So.    6-6  24    11    0.458
43    44  Teilon-Jonathan Tufuga          BYU  So.    6-5  26    11    0.423

In [ ]:
# current status of project: 
I am looking to do some research on the historcally best teams with their serving percentages and the overall 
performance of the teams

Automation should come next given the finalized of formulaic approach I decide to take